<div class="input-container">
  <ng-container [ngSwitch]="type === 'select'">

    <!-- Case for the select dropdown -->
    <select *ngSwitchCase="'select'" [id]="name" class="form-control" [value]="value" [disabled]="isDisabled || loading"
      (change)="onSelectionChange($event)">
      <option [value]="null" disabled>{{ placeholder }}</option>
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>

    <input *ngSwitchDefault [id]="name" [type]="type" class="form-control" [placeholder]="placeholder"
      [value]="value || ''" [disabled]="isDisabled || loading" (input)="onInputChange($event)">

  </ng-container>

  <!-- Clickable Icon on the right -->
  <i *ngIf="clickableIconClass && !loading" [class]="clickableIconClass" class="clickable-icon"
    (click)="onIconClick($event)">
  </i>

  <!-- Loading Spinner -->
  <div *ngIf="loading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
</div>