<div class="input-container">
  <ng-container [ngSwitch]="type === 'select'">

    <!-- Case for the select dropdown -->
    <select *ngSwitchCase="true"
            [id]="name"
            class="form-control"
            [ngModel]="value"
            (ngModelChange)="onSelectionChange($event)"
            [disabled]="isDisabled || loading">
      <option [ngValue]="null" disabled>{{ placeholder || 'Select an option' }}</option>
      <!-- Use [ngValue] to bind the actual boolean/object value -->
      <option *ngFor="let option of options" [ngValue]="option.value">
        {{ option.label }}
      </option>
    </select>

    <!-- Default case for all other input types -->
    <input *ngSwitchDefault
           [id]="name"
           [type]="type"
           class="form-control"
           [value]="value || ''"
           [disabled]="isDisabled || loading"
           (input)="onTextInputChange($event)">

  </ng-container>

  <!-- Clickable Icon on the right -->
  <i *ngIf="clickableIconClass && !loading"
     [class]="clickableIconClass"
     class="clickable-icon"
     (click)="onIconClick($event)">
  </i>

  <!-- Loading Spinner -->
  <div *ngIf="loading" class="spinner-overlay">
    <div class="spinner"></div>
  </div>
</div>
