<div class="sidebar-container">
    <div class="logo-area">
        <i class='bx bxs-analyse'></i>
        <span class="logo-text" *ngIf="!isCollapsed">ONYX ERP</span>
    </div>
    <nav class="nav-area">
        <ul>
            <li>
                <a routerLink="/dashboard" routerLinkActive="active">
                    <i class='bx bxs-dashboard'></i>
                    <span class="link-text" *ngIf="!isCollapsed">Dashboard</span>
                </a>
            </li>
            
            <li>
                <a routerLink="/users" routerLinkActive="active">
                    <i class='bx bxs-user-detail'></i>
                    <span class="link-text" *ngIf="!isCollapsed">Users</span>
                </a>
            </li>

            <li>
            <a routerLink="/roles" routerLinkActive="active">
              <i class='bx bxs-shield-alt-2'></i>
              <span class="link-text" *ngIf="!isCollapsed">Roles</span>
            </a>
          </li>
        </ul>
    </nav>
</div>