@import 'variables';

:host{
    display: block;
    margin-bottom: $spacing-base * 2.5;
}

.form-label {
    display: block;
    font-weight: 500;
    margin-bottom: $spacing-base;
}

.content-wrapper {
    position: relative;
}

// Add a red border when there is an error
:host-context(.ng-invalid.ng-touched) .control-wrapper ::ng-deep > * {
    border-color: $color-danger !important;
    &:focus {
        box-shadow: 0 0 0 2px rgba($color-danger, 0.25) !important;
    }
}

.error-text {
    color: $color-danger;
    font-size: 12px;
    padding-top: $spacing-base / 2;
}