@import 'variables';

.footer-links {
  text-align: center;
  margin-top: $spacing-base * 3;
  font-size: $font-size-base;

  a {
    color: $color-primary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}