<div class="table-wrapper">
    <table class="data-table">
        <thead>
            <tr>
                <th *ngFor="let col of columns">{{ col.title }}</th>
            </tr>
        </thead>

        <tbody>
            <!-- Loading State: Show skeleton rows -->
            <ng-container *ngIf="isLoading">
                <tr *ngFor="let i of [1,2,3,4,5]" class="skeleton-row">
                    <td *ngFor="let col of columns">
                        <div class="skeleton-loader"></div>
                    </td>
                </tr>
            </ng-container>

            <!-- Data Rows -->
            <ng-container *ngIf="!isLoading && data && data.length > 0">
                <tr *ngFor="let item of data">
                    <td *ngFor="let col of columns">
                        <!-- If a custom template is provided for this column, use it -->
                        <ng-container *ngIf="col.customTpl; else defaultTpl">
                            <ng-container [ngTemplateOutlet]="col.customTpl"
                                [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>
                        </ng-container>

                        <!-- Otherwise, use the default cell rendering -->
                        <ng-template #defaultTpl>
                            {{ getCellValue(item, col.key)}}
                        </ng-template>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

    <!-- No Data State -->
    <div *ngIf="!isLoading && (!data || data.length === 0)" class="no-data-state">
        <i class='bx bx-data'></i>
        <p>No data available</p>
    </div>
</div>