<div class="container" style="max-width: 420px;">
    <div class="card">
        <div class="text-center">
            <h2 class="title">Reset Your Password</h2>
            <p class="subtitle">Please enter your new password below.</p>
        </div>

        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <app-form-field label="New Password">
                <app-custom-input name="newPassword" [type]="passwordVisible ? 'text' : 'password'"
                    formControlName="newPassword" [clickableIconClass]="passwordVisible ? 'bx bx-hide' : 'bx bx-show'"
                    (iconClick)="passwordVisible = !passwordVisible">
                </app-custom-input>
            </app-form-field>

            <app-form-field label="Confirm New Password" [customError]="passwordMismatchError">
                <app-custom-input name="confirmPassword" [type]="confirmPasswordVisible ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    [clickableIconClass]="confirmPasswordVisible ? 'bx bx-hide' : 'bx bx-show'"
                    (iconClick)="confirmPasswordVisible = !confirmPasswordVisible">
                </app-custom-input>
            </app-form-field>

            <div class="form-actions mt-1">
                <app-button type="submit" color="primary" [loading]="(isLoading$ | async)!"
                    [disabled]="!resetForm.valid">
                    Reset Password
                </app-button>
            </div>

            <div class="footer-links">
                <a routerLink="/login">Back to Login</a>
            </div>
        </form>
    </div>
</div>